# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
/Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
/[Aa]ssets/[Ss]treamingAssets/aa.meta
__pycache__/

# ===== Unreal =====
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# ===== 3D / Art source (giữ file gốc ở nơi khác, không nhét vào Git) =====
*.blend1
*.blend2
*.fbx
*.obj
*.max
*.psd
*.tif
*.exr

# ===== Hệ điều hành / Editor =====
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
